/* define fonts, variables, and global styles here */
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "WFVisualSans";
    src: url("/fonts/WFVisualSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
:root {
    --accent: 58, 234, 58;
    --accent-light: 204, 250, 204;
    --accent-dark: 10, 101, 10;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
    --coral: 239, 132, 87;
    --coral-light: 235, 160, 129;

    --coral-gradient: linear-gradient(45deg, rgb(var(--coral)), rgb(var(--coral-light)) 30%, white 60%);

    --green: 0, 255, 89;
    --aquamarine: 133, 255, 195;
    --aquamarine-light: 181, 247, 215;
    --aquamarine-gradient: linear-gradient(45deg, rgb(var(--aquamarine)), rgb(var(--green)) 30%, white 60%);

    --rich-black: 0, 18, 11;
    --black: #13151a;

    --heading-font: "WFVisualSans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    --text-font: "Inter", "Open Sans", "Helvetica Neue", sans-serif;
}
html {
    font-family: var(--text-font);
    background: var(--black);
}
