---
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
import "../styles/styles.css";

const posts = await Astro.glob("./posts/*.md");
---

<Layout title="Rhuel Garza">
    <main>
        <Navigation />
        <hr class="spacer-nav" />

        <!-- CONTENT -->
        <h1>Hey, I'm <span class="grad-aquamarine">Rhuel</span></h1>
        <p>Welcome to my personal website, here you'll (soon) find my projects and other cool stuff.</p>

        <h2>Posts</h2>

        <ul role="list" class="link-card-grid">
            {
                posts.map((post) => (
                    <Card
                        href={post.url || Astro.url.origin}
                        title={post.frontmatter.title}
                        body={post.frontmatter.description}
                        date={post.frontmatter.pubDate}
                    />
                ))
            }

            <!-- <Card
                href="https://astro.build/integrations/"
                title="Integrations"
                body="Supercharge your project with new frameworks and libraries."
            />
            <Card href="https://astro.build/themes/" title="Themes" body="Explore a galaxy of community-built starter themes." />
            <Card href="https://astro.build/chat/" title="Community" body="Come say hi to our amazing Discord community. ❤️" /> -->
        </ul>

        <hr class="spacer-footer" />
        <Footer />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 900px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .main-paragraph {
        margin-bottom: 1.5rem;
        border: 1px solid rgba(39, 43, 54, 100%);
        background: rgba(30, 33, 41, 33%);
        padding: 1.5rem;
        border-radius: 8px;
    }
    .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }
    .instructions strong {
        color: rgb(var(--accent-light));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>
